<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<table>
  <thead>
    <tr>
      <th>School Name</th>
    </tr>
  </thead>
  <tbody>
    
    {{#each data}}
      <tr>
        <td>{{school_name}}</td>
      </tr>
    {{/each}}


  </tbody>
</table>